<footer fxLayout fxLayoutAlign="center center" class="footer">
  <div fxLayout="column" fxLayoutGap="40px" class="container">
    <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px" class="mt-70">
      <div fxFlex="25%">
        <a [routerLink]="['/']">
          <img src="assets/images/gfx_logo_footer.svg" alt="Auto-Market">
        </a>
      </div>

      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px" fxFlex="25%">
        <h4 class="text-white roboto-bold">Social Networks</h4>
        <div class="roboto-light">You can find us on your favourite social networks</div>
        <div>
          <div fxLayout="row" fxLayoutGap="20px">
            <a href="https://fb.me/automarketcg" target="_blank">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M24 2.571V21.43A2.572 2.572 0 0 1 21.429 24h-4.57v-9.493h3.246l.466-3.621H16.86V8.57c0-1.05.29-1.762 1.795-1.762h1.917V3.573a25.785 25.785 0 0 0-2.796-.144c-2.764 0-4.66 1.687-4.66 4.789v2.673H9.856v3.621h3.263V24H2.57A2.572 2.572 0 0 1 0 21.429V2.57A2.572 2.572 0 0 1 2.571 0H21.43A2.572 2.572 0 0 1 24 2.571z"
                  fill="#FFF" fill-rule="nonzero" />
              </svg>
            </a>
            <a href="https://www.instagram.com/automarket_cg/" target="_bla	nk">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.005 5.867a6.118 6.118 0 0 0-6.128 6.128 6.118 6.118 0 0 0 6.128 6.128 6.118 6.118 0 0 0 6.128-6.128 6.118 6.118 0 0 0-6.128-6.128zm0 10.112a3.991 3.991 0 0 1-3.984-3.984 3.988 3.988 0 0 1 3.984-3.984 3.988 3.988 0 0 1 3.984 3.984 3.991 3.991 0 0 1-3.984 3.984zm7.808-10.363c0 .795-.64 1.43-1.429 1.43a1.43 1.43 0 1 1 1.43-1.43zm4.059 1.45c-.09-1.914-.528-3.61-1.93-5.007C20.543.66 18.847.224 16.932.128 14.96.016 9.045.016 7.072.128c-1.91.09-3.605.528-5.008 1.925C.661 3.451.229 5.147.134 7.061.02 9.035.02 14.95.133 16.923c.09 1.914.527 3.61 1.93 5.008 1.403 1.397 3.093 1.834 5.008 1.93 1.973.112 7.888.112 9.861 0 1.915-.09 3.611-.528 5.008-1.93 1.398-1.398 1.835-3.094 1.931-5.008.112-1.974.112-7.883 0-9.856zm-2.55 11.974a4.033 4.033 0 0 1-2.271 2.272c-1.574.624-5.307.48-7.046.48-1.738 0-5.477.139-7.045-.48a4.033 4.033 0 0 1-2.272-2.272c-.624-1.573-.48-5.307-.48-7.045 0-1.739-.139-5.478.48-7.046A4.033 4.033 0 0 1 4.96 2.677c1.573-.624 5.307-.48 7.045-.48 1.739 0 5.478-.138 7.046.48a4.033 4.033 0 0 1 2.272 2.272c.624 1.574.48 5.307.48 7.046 0 1.738.144 5.477-.48 7.045z"
                  fill="#FFF" fill-rule="nonzero" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px" fxFlex="25%">
        <h4 class="text-white roboto-bold">Kontakt</h4>
        <div class="text-white roboto-light">m: <a href="tel:+38267322122" class="text-white">00382 (0)67 32 21 22</a></div>
        <p class="roboto-light">e: <a href="mailto:info@auto-market.me" class="text-white">info@auto-market.me</a></p>
      </div>

      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px" fxFlex="25%">
        <h4><a class="text-white roboto-bold" [routerLink]="['/preuzmite-nasu-aplikaciju']">Naša aplikacija</a></h4>
        <div class="roboto-light">Preuzmite aplikaciju i pretražujte u pokretu.</div>
        <div>
          <div fxLayout="row" fxLayoutGap="20px">
            <a href="https://play.google.com/store/apps/details?id=me.mnecars" target="_blank">
              <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.079 9.224v6.19c0 .823-.647 1.48-1.47 1.48-.818 0-1.609-.662-1.609-1.48v-6.19c0-.807.791-1.47 1.609-1.47.807 0 1.47.663 1.47 1.47zm.577 8.392c0 .877.706 1.582 1.582 1.582h1.064l.016 3.266c0 1.973 2.95 1.957 2.95 0v-3.266h1.989v3.266c0 1.962 2.967 1.967 2.967 0v-3.266h1.08c.865 0 1.57-.705 1.57-1.582v-9.59H3.657v9.59zM16.912 7.508H3.597c0-2.287 1.369-4.276 3.4-5.313L5.976.308c-.15-.261.23-.427.358-.203l1.037 1.903a7.222 7.222 0 0 1 5.789 0L14.192.111c.133-.23.507-.06.358.203l-1.021 1.881c2.015 1.037 3.383 3.026 3.383 5.313zM7.788 4.542a.561.561 0 0 0-.561-.561.554.554 0 0 0-.545.56c0 .306.245.562.545.562a.561.561 0 0 0 .561-.561zm6.061 0a.558.558 0 0 0-.545-.561.561.561 0 1 0 0 1.122c.3 0 .545-.256.545-.561zm5.068 3.212c-.807 0-1.47.647-1.47 1.47v6.19c0 .823.663 1.48 1.47 1.48.823 0 1.609-.662 1.609-1.48v-6.19c0-.823-.791-1.47-1.61-1.47z"
                  fill="#FFF" fill-rule="nonzero" />
              </svg>
            </a>
            <a href="itms-apps://itunes.apple.com/app/id1469223918" target="_blank">
              <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.859 12.68c-.01-1.966.878-3.45 2.678-4.543C18.53 6.697 17.01 5.904 15 5.748c-1.902-.15-3.98 1.11-4.741 1.11-.804 0-2.646-1.056-4.093-1.056C3.176 5.85 0 8.186 0 12.938c0 1.403.257 2.853.771 4.35.686 1.966 3.161 6.787 5.743 6.707 1.35-.033 2.304-.96 4.061-.96 1.704 0 2.588.96 4.093.96 2.603-.038 4.843-4.42 5.496-6.391-3.493-1.645-3.305-4.822-3.305-4.924zm-3.032-8.796C15.289 2.148 15.155.568 15.113 0c-1.292.075-2.786.879-3.638 1.87-.938 1.06-1.49 2.373-1.371 3.851 1.398.108 2.673-.61 3.723-1.837z"
                  fill="#FFF" fill-rule="nonzero" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mb-10">
      <span class="roboto-light text-center">
        Copyright &copy; 2021 auto-market.me | All Rights Reserved
        <br>
        <span class="text-dusty-gray">in partnership with</span> <a class="roboto-bold text-dusty-gray"
          href="https://www.fleka.me" target="_blank"> fleka.me</a>
      </span>
    </div>
  </div>

</footer>