.footer {
    background-color: #424242;
    min-height: 256px;
    padding-top: 1px;
    color: #fff;
    box-shadow: 0 -5px 25px rgba(0,0,0,.25);
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
}