<div class="container">
    <h1 class="mt-10">Characters</h1>
    <hr class="dvd" />
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="pt-20">
      <mat-form-field appearance="fill">
        <mat-label>Search by name</mat-label>
        <input matInput [(ngModel)]="search" (keyup.enter)="onSearch()">
        <button mat-icon-button matSuffix (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="ordering" (selectionChange)="onOrderingChanged()">
          <mat-option *ngFor="let option of orderingOptions" [value]="option.ordering">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr class="dvd" />
    <div fxLayout="column">
        <mat-grid-list class="mt-20 mb-20" [cols]="itemColSize" [rowHeight]="itemCardHeight" gutterSize="25px">
            <mat-grid-tile *ngFor="let character of characters">
              <a [routerLink]="['/', 'people', character.id]">{{character.name}}</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-paginator
            [length]="charactersCount"
            [pageSize]="10"
            [pageSizeOptions]="[10]"
            [pageIndex]="page"
            (page)="onPageChanged($event)">
          </mat-paginator>
    </div>
</div>
