<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <div class="sidebar mt-10 mb-10" fxLayout="column" fxFlex="30%" fxLayoutGap="40px">
    <div class="sidebar-padding" fxLayout="column" fxLayoutGap="30px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>{{character.name}}</h2>
        <button mat-mini-fab aria-label="Favorite character" (click)="toggleFavorite()">
          <mat-icon>{{ character.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </div>
      <hr class="dvd">
    </div>
  </div>
  <div fxFlex="70%" fxFlex.lt-md="100%">
    <mat-list>
      <h3 mat-subheader></h3>
      <mat-list-item>
        <mat-icon mat-list-icon>height</mat-icon>
        <h4 mat-line><strong>Height: </strong>{{character.height}} cm</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>fitness_center</mat-icon>
        <h4 mat-line><strong>Mass: </strong>{{character.mass}} kg</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>today</mat-icon>
        <h4 mat-line><strong>Birth year: </strong>{{character.birth_year}}</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>{{character.gender}}</mat-icon>
        <h4 mat-line><strong>Birth year: </strong>{{character.gender | titlecase}}</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>public</mat-icon>
        <h4 mat-line><strong>Homeworld: </strong><span *ngIf="homeworld; else noHomeworld">{{homeworld.name}}</span></h4>
        <ng-template #noHomeworld>n/a</ng-template>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>

    <div fxLayoutAlign="center center" class="mt-20 mr-20 mb-20">
      <table mat-table [dataSource]="films" class="mat-elevation-z8 film-table" *ngIf="films; else loadingFilms">
        <!-- Position Column -->
        <ng-container matColumnDef="film-episode-id">
          <th mat-header-cell *matHeaderCellDef> Film ID </th>
          <td mat-cell *matCellDef="let element"> {{element.episode_id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="film-title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/', 'films', element.id]">{{element.title}}</a> </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="film-release-date">
          <th mat-header-cell *matHeaderCellDef> Release date </th>
          <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <ng-template #loadingFilms>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</div>
