<div class="container" fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">
  <h1 class="mb-20">
    This is not the page you are looking for.
  </h1>
  <div class="mb-20">
    404
  </div>
  <a [routerLink]="['/']">
    <span>Go home</span>
  </a>
</div>
