<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a [routerLink]="['/']">
      <img src="assets/img/starwars.svg" class="mt-10" height="54px" alt="Star Wars">
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
    <ul fxLayout fxLayoutGap="30px" class="navigation-items">
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/people']">People</a>
      </li>
      <li>
        <a [routerLink]="['/films']">Films</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
