@import '../../../../../responsive-breakpoints-mixins';

.hero-img {
    height: 566px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.home-search {
    top: 90px;
    @include breakpoint(xs) {
        top: 150px;
    }
}

.premium-vehicles {
    margin-top: 500px;
    @include breakpoint(xs) {
        margin-top: 20px;
    }
}

.mat-grid-tile {
    overflow: unset !important;
}

.popular-makes-img {
    width: 100%;
    max-width: 168px;
}
