<mat-nav-list>
  <a
    mat-list-item
    [routerLink]="['/']"
    (click)="onClose()">
      <mat-icon>home</mat-icon>
      <span class="nav-caption">Home</span>
  </a>
  <a
    mat-list-item
    [routerLink]="['/people']"
    (click)="onClose()">
      <mat-icon>person</mat-icon>
      <span class="nav-caption">Characters</span>
  </a>
  <a
    mat-list-item
    [routerLink]="['/films']"
    (click)="onClose()">
      <mat-icon>camera</mat-icon>
      <span class="nav-caption">Films</span>
  </a>
</mat-nav-list>
