.sidebar {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.sidebar-padding {
    box-sizing: border-box;
    padding: 16px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    left: 15px;
    top: -40px;
}

.film-table {
  width: 100%;
}

.mat-column-film-episode-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-film-title {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-film-release-date {
  font-style: italic;
}
