<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <div class="sidebar mt-10 mb-10" fxLayout="column" fxFlex="30%" fxLayoutGap="40px">
    <div class="sidebar-padding" fxLayout="column" fxLayoutGap="30px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>{{film.title}}</h2>
      </div>
      <hr class="dvd">
    </div>
  </div>
  <div fxFlex="70%" fxFlex.lt-md="100%">
    <mat-list>
      <h3 mat-subheader></h3>
      <mat-list-item>
        <mat-icon mat-list-icon>movie</mat-icon>
        <h4 mat-line><strong>Director: </strong>{{film.director}}</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>format_list_numbered</mat-icon>
        <h4 mat-line><strong>Episode: </strong>{{film.episode_id}}</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>format_align_center</mat-icon>
        <h4 mat-line><strong>Begining: </strong>{{film.opening_crawl}}</h4>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>

    <div fxLayoutAlign="center center" class="mt-20 mr-20 mb-20">
      <table mat-table [dataSource]="characters" class="mat-elevation-z8 film-table" *ngIf="characters; else loadingFilms">
        <!-- Id Column -->
        <ng-container matColumnDef="character-id">
          <th mat-header-cell *matHeaderCellDef> Character ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="character-name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/', 'people', element.id]">{{element.name}}</a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <ng-template #loadingFilms>
        <mat-spinner></mat-spinner>
      </ng-template>
    </div>
  </div>
</div>
