@mixin breakpoint($point){

	@if $point == lg {
		@media (min-width: 1200px) {
			@content;
		}
	}

	@else if $point == md {
		@media (min-width: 1024px) {
			@content;
		}
	}

	@else if $point == sm {
		@media (min-width: 767px){
			@content;
		}
	}

	@else if $point == xs {
		@media (min-width: 600px){
			@content;
		}
	}

	@else {
		@media (min-width: $point) {
			@content;
		}
	}
}
