
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$starwars-app-primary: mat.define-palette(mat.$indigo-palette);
$starwars-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$starwars-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$starwars-app-theme: mat.define-light-theme((
  color: (
    primary: $starwars-app-primary,
    accent: $starwars-app-accent,
    warn: $starwars-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($starwars-app-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: starwars;
  src: url(assets/fonts/starwars.woff)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'starwars', 'arial', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: starwars, "Helvetica Neue", sans-serif; }

.container {
  margin: auto auto;
  max-width: 1084px;
  padding: 0 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 10px;
}

.m-none {
  margin: 0;
}


.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 10px;
}

.p-none {
  padding: 0;
}

